<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DesktopApp.Overlay.Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DesktopApp.Overlay.Control.Properties.Settings>
      <setting name="MaxOpacity" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="Scale" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="DisplayTime" serializeAs="String">
        <value>1.5</value>
      </setting>
      <setting name="MoveMethodName" serializeAs="String">
        <value>DesktopApp.Overlay.Draw.Models.Constant</value>
      </setting>
      <setting name="OpacityCurveName" serializeAs="String">
        <value>DesktopApp.Overlay.Draw.Models.Constant</value>
      </setting>
    </DesktopApp.Overlay.Control.Properties.Settings>
  </userSettings>
</configuration>